{% extends 'layout/_layout.html' %}

{% block css %}


{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/cmdb.html">首页</a></li>
        <li><a href="/base/server.html">资产列表</a></li>
        <li class="active">添加资产</li>
    </ol>
    <div style="padding: 5px 8px;" id="add-server-div" >
        <form id="userlistform"  >
            <p>{{ form.as_p }}</p>
            <input id="list" type="submit"/>

        </form>
    </div>

    {{ result }}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>

    <script>
        $(function () {
            $.initMenu('#menu_server');
            bindcreateserver();

        });
        function bindcreateserver(){
            //var username=$('username').val()

            $('#list').click(function(){
                formdata = {
                    username:$('#username').val(),
                    ext_ip:$('#ext_ip').val(),
                    int_ip:$('#int_ip').val(),
                    status:$('#status').val()
                }
                console.log(formdata);
                $.ajax({
                        url: '/base/add-server.html',
                        type: 'POST',
                        dataType: 'JSON', // 内部
                        traditional: true,
                        data: formdata,
                        success: function(obj){
                           //# console.log(obj);
                            alert('add success');

                         },
                        error: function (obj) {
                            console.log(obj);
                    }
                })
            })
        };

    </script>
{% endblock %}