<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user_register</title>
</head>
<body>
    <div id="registeruser">
        <input id='username' type="text" name="username" placeholder="用户名" />
        <input id="passwd" type="password" name="pwd" placeholder="密码" />
        <input id="passwdagain" type="password" name="pwdretry" placeholder="再确认密码" />
        <button id="register" type="注册">注册</button>
    </div>


    <script src="/static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(function(){
            bindcreateuser();
        });
        function bindcreateuser(){
            $('#register').click(function(){
                var formData = new FormData($("#registeruser")[0]);

                $.ajax({
                        url: "/base/registeruser/",
                        type: 'POST',
                        data: formData,
                        success : function(arg){
                            console.log(arg)
                        }
                })
            })
        }

    </script>


</body>
</html>