<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userlist</title>
</head>
<body>
    <form id="userlistform" method="POST" action="/base/registeruser" enctype="multipart/form-data">
        <p>{{ form.as_p }}</p>

        <input id="list" type="submit"/>
    </form>
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(function(){
            bindcreateuser();
        });
        function bindcreateuser(){
            //console.log($('#userlistform').serialize());
            $('#list').click(function(){
                console.log($('#userlistform').serialize());
                var formData = $('#userlistform').serialize();
                $.ajax({
                        url: "/base/registeruser",
                        type: 'POST',
                        dataType: 'json',
                        data: formData,
                        success : function(arg){
                            console.log(arg)
                        }
                })
            })
        };

    </script>
</body>
</html>